.cover {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  background-color:var(--normal-green);
  margin-left: -160px;
  width: 1440px;
}

.cover__list {
  list-style-type: none;
  margin-top: 148px;
  margin-left: 80px;
  max-width: 700px;
}

.cover__list-element {
}

.cover__title {
  height: 95px;
  width: 513px;
}

.cover__tagline {
  padding-top: 48px;
}
.cover__tagline-text {
  font-family: "MontserratRegular";
  font-size: 42px;
  font-weight: 400;
  line-height: 51.2px;
  text-align: left;
  
}

.cover__button {
  display: flex;
  height: 84px;
  width: 468px;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  padding-top: 132px;
  padding-left: 42px;
  display: block;
}

.cover__button-shape {
  margin-top: -30px;
  margin-left: -42px;
  height: 84px;
  width: 468px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: var(--active-green);
}

.cover__button-text {
  font-family: "MontserratRegular";
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration-line: none;
  padding-top: 2px;
  padding-left: 2px;
}

.cover__image {
  margin-top: 15px;
  margin-right: 0px;
  width: 80%;
  height: auto;
}

.cover__image-screen {


}