.features__about {
  padding-top: 123px;
  height: 720px;
  display: grid;
  background-color:var(--normal-green);
  justify-content: space-between;
  margin-left: -160px;
  box-sizing: border-box;
  width: 1440px;
}

.features__about-image-front {
  position: absolute;
  margin-left: 260px;
  margin-top: 120px;
  z-index: 2;
  width: 226px;
  height: 456px;
}

.features__about-image-back {
  margin-left: 145px;
  position: absolute;
  z-index: 1;
  width: 279px;
  height: 561px;
}

.features__list-about {
  grid-column: 2 / span 1;
  width: 815px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-right: 50px;
}

.features__title-about {
  letter-spacing: -1.65px;
  font-family: "MontserratBold";
}

.features__tagline {

  padding-top: 25px;
  padding-left: 2px;
  font-size: 32px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
}

.features__image {
  padding-top: 20px;
  height: 242px;
  width: 696px;
}

.features__virtual-garden {
  display: grid;
  padding-top: 123px;
  height: 720px;
  grid-gap:10px;
  overflow: auto;
  grid-auto-flow: column;
  background-color:var(--normal-green);
  justify-content: space-between;
  margin-left: -159px;
  padding-right: 90px;
  box-sizing: border-box;
  width: 1440px;
}

.features__list-virtual-garden {
  grid-row-start: auto;
  grid-column: 1 / span 3;
  width: 900px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 80px;
}

.features__title-virtual-garden {
  margin-top: -10px;
}

.features__virtual-garden-image-left {
  margin-top: -12px;
  margin-left: 10px;
  position: relative;
  width: 191px;
  height: 384px;
}

.features__virtual-garden-image-right {
  margin-top: -12px;
  position: relative;
  justify-self: end;
  width: 191px;
  height: 384px;
}
